/* NotesLayout.module.css */

.layout {
  display: flex;
  align-items: flex-start;
  min-height: calc(100vh - 57px); /* висота мінус header */
}

.sidebar {
  width: 260px;
  flex-shrink: 0;
  border-inline-end: 1px solid #ccc;
  min-height: inherit;
  padding: 12px;
}

.content {
  flex: 1;
  padding: 12px;
}
